html {
	background-color: rgb(52, 255, 185);
	color: rgb(22, 112, 92);
}

a {
	color: rgb(28, 99, 81);
}

a:active {
	color: rgb(0, 137, 206);
}

@font-face {
	font-family: RHFONT;
	src: url(RHLOGO.otf) format("opentype");
}

h1 {
	font-family: RHFONT;
	border-bottom: 1px solid rgb(28, 112, 92);
	text-align: center;
	letter-spacing: 2px;
}


