html {
	background-color: rgb(52, 255, 185);
	color: rgb(22, 112, 92);
}

a {
	color: white;
}

a:active {
	color: rgb(0, 137, 206);
}

@font-face {
	font-family: RHFONT;
	src: url(RHLOGO.otf) format("opentype");
}

h1 {
	font-family: RHFONT;
	text-align: center;
	letter-spacing: 2px;
	padding-bottom: 5px;
}

nav {
	font-family: RHFONT;
	color: white;
	font-size: 20px;
	margin: auto;
	background-color: rgb(28, 99, 81);
	max-height: 35px;
	max-width: 1500px;
}

.brsmall {
	display: block;
    margin-bottom: 10px;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	height: auto;
}

img {
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
}
